.header {
  background-color: #ffffff;
  padding: 27px 0;
  &__content {
   
    display: flex;
    justify-content: space-between;
  }
  &__menu{
    margin-top: 12px;
  }
  &__logo {
    box-shadow: 0 4px 10px rgba(0,0,0,.25);  
  }
  &__link {
    font-weight: 300;
font-size: 16px;
line-height: 22px;
color: black;
    
    &_active {
      color: cornflowerblue;
    }

    &:not(:last-child) {
      margin-right: 10px;
    }
    &:hover {
      text-decoration: none;
    }
  }
}