.animation-block{
    padding: 20px 0;
}

.wraper-animation{
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    &__img{
        max-height: 200px;
        top: 20px;
    position: relative;
    animation-name: superman;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-delay: 0.5s;
    }
    &__shadows{
        border-bottom: 70px solid #000;
        border-left: 20px solid transparent;
        border-right: 30px solid transparent;
        height: 0px;
        margin: 0 auto;
        width: 80px;
        filter: drop-shadow(3px 9px 10px black);
        transform: scaleY(.1);
        opacity: 0.4;
        animation-name: superman-shadows;
        animation-duration: 4s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        animation-delay: 0.5s;
    }
    .superman-block{
        width: 200px;
    }
&__wrapper-img-circle{
    width: 600px;
    height: 300px;
    position: relative;
}
    &__img-circle{
        position: absolute;
        height: 150px;
        
        
    }

}
@keyframes superman{
    0%{
    top:20px;
    }
    50%{
        top:-20px;
        }
        100%{
            top:20px;
            }   
}
@keyframes superman-shadows{
    0%{
        width: 80px;
        opacity: 0.4;
    }
    50%{
        width: 60px;
        opacity: 0.2;
        }
        100%{
            width: 80px;
            opacity: 0.4;
            }   
}


.supreman-two{
    left: 0;
    top:50px;
    transform: scale(1);
    animation-name: superman-two-shadows;
    animation-duration: 12s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-delay: 0.5s;
   
}

@keyframes superman-two-shadows{
    7%, 20%, 30%, 35%{
        left: 0;
        top:50px;
        transform: scale(1);
      
    }
    35%{
        z-index: 1;
    }  
    40%, 50%, 60%, 65%{
        right: 0;
        left: 80%;
        top:50px;
        transform: scale(1);
       
        }
        65%{
            z-index: 2;
        }  
        70%, 80%, 90%, 95% {
        left: 50%;
        top:70px;
        transform: scale(1.9);
       
            } 
            95%{
                z-index: 3;
            }    
}



.flash-two{
    left: 50%;
    top:70px;
    transform: scale(1.9);
    animation-name: flash-two-shadows;
    animation-duration: 12s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-delay: 0.5s;

}

@keyframes flash-two-shadows{
    7%, 20%, 30%, 35%{

        left: 50%;
        top:70px;
        transform: scale(1.9);
       
    }
    35%{
        z-index: 3;
    }
    40%, 50%, 60%, 65%{
        left: 0;
        top:50px;
        transform: scale(1);
     

        }
        65%{
            z-index: 1;
        }
        70%, 80%, 90%, 95% {
            right: 0;
            left: 80%;
            top:50px;
            transform: scale(1);
     
            } 
            95%{
                z-index: 2;
            }  
}
.batman-two{
    right: 0;
    left: 80%;
    top:50px;
   
    animation-name: batman-two-shadows;
    animation-duration: 12s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-delay: 0.5s;
}

@keyframes batman-two-shadows{
    7%, 20%, 30%, 35%{
        right: 0;
        left: 80%;
        top:50px;
        transform: scale(1);
       

    }
    35%{
        z-index: 2;
    }
    40%, 50%, 60%, 65%{
        
        left: 50%;
        top:70px;
        transform: scale(1.9);

      
        }
        65%{
            z-index: 3;   
        }
        70%, 80%, 90%, 95% {
            left: 0;
            top:50px;
            transform: scale(1);
         
            }  
            95%{
                z-index:1;
            } 
}