.animation-block{
    padding: 20px 0;
}

.wraper-animation{
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    &__img{
        max-height: 200px;
        top: 20px;
    position: relative;
    animation-name: superman;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-delay: 0.5s;
    }
    &__shadows{
        border-bottom: 70px solid #000;
        border-left: 20px solid transparent;
        border-right: 30px solid transparent;
        height: 0px;
        margin: 0 auto;
        width: 80px;
        filter: drop-shadow(3px 9px 10px black);
        transform: scaleY(.1);
        opacity: 0.4;
        animation-name: superman-shadows;
        animation-duration: 4s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        animation-delay: 0.5s;
    }
    .superman-block{
        width: 200px;
    }
&__wrapper-img-circle{
    width: 600px;
    height: 300px;
    position: relative;
}
    &__img-circle{
        position: absolute;
        height: 150px;
        
        
    }

}
@keyframes superman{
    0%{
    top:20px;
    }
    50%{
        top:-20px;
        }
        100%{
            top:20px;
            }   
}
@keyframes superman-shadows{
    0%{
        width: 80px;
        opacity: 0.4;
    }
    50%{
        width: 60px;
        opacity: 0.2;
        }
        100%{
            width: 80px;
            opacity: 0.4;
            }   
}


.supreman-two{
    left: 0;
    top:50px;
    transform: scale(1);
    animation-name: superman-two-shadows;
    animation-duration: 12s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-delay: 0.5s;
   
}

@keyframes superman-two-shadows{
    7%, 20%, 30%, 35%{
        left: 0;
        top:50px;
        transform: scale(1);
      
    }
    35%{
        z-index: 1;
    }  
    40%, 50%, 60%, 65%{
        right: 0;
        left: 80%;
        top:50px;
        transform: scale(1);
       
        }
        65%{
            z-index: 2;
        }  
        70%, 80%, 90%, 95% {
        left: 50%;
        top:70px;
        transform: scale(1.9);
       
            } 
            95%{
                z-index: 3;
            }    
}



.flash-two{
    left: 50%;
    top:70px;
    transform: scale(1.9);
    animation-name: flash-two-shadows;
    animation-duration: 12s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-delay: 0.5s;

}

@keyframes flash-two-shadows{
    7%, 20%, 30%, 35%{

        left: 50%;
        top:70px;
        transform: scale(1.9);
       
    }
    35%{
        z-index: 3;
    }
    40%, 50%, 60%, 65%{
        left: 0;
        top:50px;
        transform: scale(1);
     

        }
        65%{
            z-index: 1;
        }
        70%, 80%, 90%, 95% {
            right: 0;
            left: 80%;
            top:50px;
            transform: scale(1);
     
            } 
            95%{
                z-index: 2;
            }  
}
.batman-two{
    right: 0;
    left: 80%;
    top:50px;
   
    animation-name: batman-two-shadows;
    animation-duration: 12s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-delay: 0.5s;
}

@keyframes batman-two-shadows{
    7%, 20%, 30%, 35%{
        right: 0;
        left: 80%;
        top:50px;
        transform: scale(1);
       

    }
    35%{
        z-index: 1;
    }
    40%, 50%, 60%, 65%{
        
        left: 50%;
        top:70px;
        transform: scale(1.9);

      
        }
        65%{
            z-index: 3;   
        }
        70%, 80%, 90%, 95% {
            left: 0;
            top:50px;
            transform: scale(1);
         
            }  
            95%{
                z-index:1;
            } 
}


.wrapper-img-boom{
 position: relative;
 width: 108px;
   .supreman-boom{
       height: 150px;
       position: relative;
       top: -500px;
       opacity: 0;
       animation-duration: 4s;
       animation-timing-function: ease;
       animation-delay: 0.5s;
       animation-iteration-count: infinite;
       animation-play-state: running;
       animation-name: super-boom;
   } 

}

@keyframes super-boom{
    50%, 70%, 80% {
        top:0px;
 opacity: 1;}

  80% {
    opacity: 0;
}
100% {
    top: -330px;
    opacity: 0;
}
}

.triangle{
    position: absolute;
    z-index: 20;
    border-bottom: 16px solid #4bd3fd;
    transform: rotate(18deg);
    opacity: 0;  
    bottom: 141px;
    left: 60px;
}

.triangle0{
    animation-duration: 4s;
    animation-timing-function: ease;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    animation-play-state: running;
    animation-name: triangle0-anim;
    border-left: 1px solid transparent;
    border-right: 7px solid transparent;
}
@keyframes triangle0-anim{
30%{
    transform: rotate(450deg);
    opacity: 1;
    left: 40px;
    bottom: 100px;
}
35% {
    opacity: 0;
}
}
.triangle1{
    animation-duration: 4s;
    animation-timing-function: ease;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    animation-play-state: running;
    animation-name: triangle1-anim;
    border-left: 1px solid transparent;
    border-right: 7px solid transparent;
}
@keyframes triangle1-anim{
    30%{
        transform: rotate(150deg);
        opacity: 1;
        left: 10px;
        bottom: 120px;
    }
    35% {
        opacity: 0;
    }
    }
.triangle2{
    animation-duration: 4s;
    animation-timing-function: ease;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    animation-name: triangle2-anim;
    border-left: 1px solid transparent;
    border-right: 7px solid transparent;
}
@keyframes triangle2-anim{
    30%{
        transform: rotate(350deg);
        opacity: 1;
        left: 130px;
        bottom: 150px;
    }
    35% {
        opacity: 0;
    }
    }
.triangle3{
    animation-duration: 4s;
    animation-timing-function: ease;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    animation-name: triangle3-anim;
    border-left: 1px solid transparent;
    border-right: 7px solid transparent;

}
@keyframes triangle3-anim{
    30%{
        transform: rotate(250deg);
        opacity: 1;
        left: 150px;
        bottom: 80px;
    }
    35% {
        opacity: 0;
    }
    }
.triangle4{
    animation-duration: 4s;
    animation-timing-function: ease;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    animation-name: triangle4-anim;
    border-left: 1px solid transparent;
    border-right: 7px solid transparent;
}
@keyframes triangle4-anim{
    30%{
        transform: rotate(50deg);
        opacity: 1;
        left: 110px;
        bottom: 120px;
    }
    35% {
        opacity: 0;
    }
    }
.shadow-boom{
    position: relative;
    opacity: 0;
    bottom: 33px;
    left: 23px;
    border-bottom: 70px solid #000;
    border-left: 20px solid transparent;
    border-right: 30px solid transparent;
    height: 0px;
    margin: 0 auto;
    width: 130px;
    filter: drop-shadow(3px 9px 10px black);
    transform: scaleY(.1);
    animation-duration: 4s;
    animation-timing-function: ease;
    animation-delay: 0.5s;
    animation-iteration-count: infinite;
    animation-name: super-shadow-anim;
}

@keyframes super-shadow-anim{
    50%, 60%, 70% {
        width: 80px;
        opacity: 1;
    }
    80% {
        opacity: 0;
    }
    100% {
        width: 130px;
        opacity: 0;
    }
    }