<div class="footer">
        <div class="container">
          <div class="footer__content">
            <div class="footer__menu">
            <a href="./index.html" class="footer__link index">Главная</a>
            <a href="./index.html" class="footer__link blog">Мой блог</a>
            <a href="./contacts.html" class="footer__link hookah">Подробнее обо мне</a>
      
          </div>
          <p class="footer__copirate ">© 2019, my-site.com</p>
          </div>
        </div>
      </div>
    <a href="#">
        <div class="phone"></div>
    </a>